.background {
    background-image: url('burger.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-align: center;
    max-width: 300px; 
}

#orderSection {
    height: 100vh; 
    overflow-y: auto; 
    padding: 30px;
    background-color: #f8f9fa;
}

.order-section {
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}

.card img {
    height: 12rem; 
    object-fit: cover;
}

.title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 
}

.card:hover {
    transform: scale(1.05); /* Slightly scale up the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}